#tiger{
  & { padding: px2rem(15); text-align: center; position: absolute!important; @include posFull; }
  &.orange{ background: #F5BA36!important; }
  & .congratulation{
      &{ text-align: center; }
      & img{ display: block; width: 100%; height: 100%; }
      & h2{ font-family: "SourceHanSansCN-Heavy", $defaultFamily; font-size: px2rem(16); color: #FFFFFF; font-weight: 800; padding: px2rem(10) 0 px2rem(10); }
    }
  & .tiger{
      &{ width: px2rem(344); height: px2rem(291); background: url("http://cdns.jige.fun/o_1cfes9io01p4odo21i4o17n61mf17.png") no-repeat; background-size: cover; border-radius: px2rem(8px); position: relative; margin-top: px2rem(60); }
      & .chicken{ width: px2rem(303); height: px2rem(243); padding: 0 px2rem(25) 0 px2rem(35); background: url("http://cdns.jige.fun/o_1cfck8bfgakerls18f6a4cep11p.png") no-repeat; background-size: cover; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; box-sizing: border-box; }
      & .activeGet{ background-image: url('http://cdns.jige.fun/o_1cfcojve3i3h1pri1cdt1cvplte7.png'); }
      & .box{ transform: translateY(px2rem(54)); height: px2rem(53); position: relative; overflow: hidden; }
      & li{ width: px2rem(45); height: px2rem(45); padding: px2rem(5) 0 px2rem(10); box-sizing: content-box; }
      & ul{ position: absolute; z-index: 99; left: px2rem(40); }
      & ul + ul{ left: px2rem(150); }
  }

  & .tiger + .btn{ width: px2rem(180); height: px2rem(168); background: url("http://cdns.jige.fun/o_1cfpq118c1bkscsf1g45khd17u6r.png") no-repeat; background-size: cover; border: none; margin: px2rem(19) auto 0; box-shadow: none; }
  & .btn.disabled{ background-image: url("http://cdns.jige.fun/o_1cfpq57ic122d1ahcd0p4nepih10.png"); }

  & > button, & .submit button, & .share button{ width: px2rem(330); height: px2rem(49); line-height: px2rem(49); font-family: "SourceHanSansCN-Medium", $defaultFamily; font-size: px2rem(16); margin-top: px2rem(15); font-weight: 400; }


  & .roller{
    &{ position: relative; overflow: hidden; }
    & ul.fx-roll{ animation: fx-roll 1s 0s infinite linear; }
    & ul.fx-bounce{ filter: blur(px2rem(3)); animation-name: tiger-bounce; transform-origin: center bottom; animation-duration: 0.3s; }
    
    & img{ display: block; width: 100%; height: 100%; }
  }
  & button.disabled{ pointer-events: none; }

  & .msgHeader{
      & div{ width: 100%; height: px2rem(345);background: url("http://cdns.jige.fun/o_1cfp92u2v1qo1h0j2iichv16lnr.png") no-repeat; background-size: cover; position: relative; }
      & h1{ padding: px2rem(50) px2rem(10) 0; font-family: "SourceHanSansCN-Heavy", $defaultFamily; font-size: px2rem(36); color: #F4D02B; font-weight: 600; position: relative; z-index: 3; line-height: px2rem(38); }
      // & h1:after{ content: ""; background: #EE0000; border-radius: px2rem(3); @include posFull(); z-index: -3; transform: translate3d(px2rem(3), px2rem(3), 0); border: px2rem(3) solid #950E0E; border-width: 0 px2rem(3) px2rem(3) 0; }
      & img{ width: px2rem(150); height: px2rem(150); position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; transform: translateY(px2rem(50)); }
      & h6{ width: auto; height: px2rem(26); background: #fff; transform: translate3d(px2rem(50), px2rem(120), 0); border: px2rem(1) solid #C70606; border-radius: px2rem(3); color: #c70606; font-size: px2rem(12); line-height: px2rem(26); font-weight: 600; display: inline-block; padding: 0 px2rem(5); }
    }
  & .submit{
      & .userMsg{
        &{ background: #FFFFFF; box-shadow: 0 px2rem(2) px2rem(4) 0 rgba(28,39,21,0.73); border-radius: px2rem(8); padding: px2rem(24) px2rem(15); }
        & div{ border-bottom: px2rem(1) solid #EDEDED; height: px2rem(42); line-height: px2rem(42); }
        & label{ font-family: "SourceHanSansCN-Normal", $defaultFamily; font-size: px2rem(16); color: #0D0D0D; float: left; width: px2rem(80); text-align: left; }
        & input{ outline: none; display: block; line-height: px2rem(42); border-bottom: px2rem(1) solid #ededed; width: px2rem(235); border: none; background: rgba(0, 0, 0, 0); color: #000; }
    }
  }
  & .share{
    &{ @include posFull();background: #46AB49; }
    & header{
      &{ width: 100%; height: px2rem(500); background: url("http://cdns.jige.fun/o_1cfp9ee7sfsu2po1vs110e01e1c10.png") no-repeat; background-size: cover; }
      & h1{ background: none; text-shadow: px2rem(2) px2rem(-2) px2rem(1) #000; }
      & h1:after{ display: none; }
      & img{ width: px2rem(180); height: auto; position: initial; transform: translateY(px2rem(40)); }
      & h6{ transform: translate3d(px2rem(60), px2rem(0), 0); }
    }
    & p{ font-family: "SourceHanSansCN-Bold"; font-size: px2rem(16); color: #fff; font-weight: 600; line-height: px2rem(20); padding-top: px2rem(15); }
    & div{ padding-bottom: px2rem(20); background-color: #46AB49; }
  }
}

@keyframes fx-roll {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(0, -75%, 0);
  }
}

@keyframes tiger-bounce {
  0%, 20%, 53%, 80%, 100% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
  }
  40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
  }
  70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
  }
  90% {
      transform: translate3d(0, -4px, 0);
  }
}
